<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)"  size = "medium" color = "#e9890b" type = "ball-spin" [fullScreen] = "true">
    <p style="color: white" > Cargando información, por favor espere... </p>
</ngx-spinner>
<div class="row">
    <h5 class="col-12">Muestras Pendientes de Analizar</h5>
    <div class="col-12">
        <select class="form-control" id="result_required" name="result_required" [(ngModel)]="selected_sample_id" (change)="selectSample()">
            <option selected value="0">Seleccione ...</option>
            <option *ngFor="let work of pending_works" [value]="work.sample.id">{{work.sample.acquisition_date | date: 'y-MM-dd'}} - {{work.sample.analysys_title}} - {{work.patient.fullname}}</option>
        </select>
    </div>
</div>

<div class="row mt-5" *ngIf="patient_selected.id != 0">
    <div class="col-12">
        <div class="card col-12">
            <h5 class="card-title text-center mt-4">DATOS DEL PACIENTE</h5>
            <div class="row">
              <div class="col-md-3 col-lg-3 col-sm-6 text-md-right text-lg-right text-sm-left">
                  <strong>NOMBRE</strong>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6">
                {{patient_selected.fullname}}
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6 text-md-right text-lg-right text-sm-left">
                  <strong>IDENTIFICACIÓN</strong>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6">
                {{patient_selected.identification}}
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-3 col-lg-3 col-sm-6 text-md-right text-lg-right text-sm-left">
                  <strong>EDAD</strong>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-6">
                {{patient_selected.age}}&nbsp;AÑOS
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12">
                  
              </div>
          </div>
        </div>
    </div>
</div>

<app-patient-new-sample-result *ngIf="selected_sample_id != 0" [is_new]="false" [patient]="patient_selected" [laboratory_id]="laboratory_id" [sample]="sample_selected" (sample_taked)="sample_saved($event)"></app-patient-new-sample-result>